<!DOCTYPE html>
<html>

<head>
<title>MyQuesionPage</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="/static/myScript.js"></script>
</head>
 
<body>

<div class="wrapper">
    <h1>知乎问题页</h1>
    <hr>

    <div class="dropdown">


        <button type="button" class="btn dropdown-toggle btn-success pull-right" id="dropdownMenu1"
			data-toggle="dropdown">个人主页<span class="caret"></span>
        </button>
        <a href="/home/" type="button" class="btn btn-success pull-right">知乎首页</a>

	<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation">
			<a role="menuitem" type="button" tabindex="-1" href="/myprofile/">我的资料</a>
		</li>
		<li role="presentation">
			<a role="menuitem" type="button" tabindex="-1" href="/myhome/">我的问题</a>
		</li>
		<li role="presentation">
			<a role="menuitem" type="button" tabindex="-1" href="/myanswer/">我的回答</a>
		</li>
        <li role="presentation">
			<a role="menuitem" type="button" tabindex="-1" href="/myfocusedhome/">我的关注</a>
		</li>
        <li role="presentation">
			<a role="menuitem" type="button" tabindex="-1" href="/mynewanswer/">新消息</a>
		</li>
		<li role="presentation" class="divider"></li>
		<li role="presentation">
			<a role="menuitem" type="button" tabindex="-1" href="/logout/" >退出</a>
		</li>
	</ul>
    <form action="/search/" method="POST">
            <table >
                {% csrf_token %}
                <tr>
                    <th>搜索:</th>
                    <th><input type="text" name="question_to_search"  id="search" value="" size="20"></th>
                    <th><button type="submit" class="btn btn-xs btn-success"  onclick="return checkSearch()">查找(search)</button><th>
                    <th><span id="searchnt" style="text-size:14pt;color:red;"></span></th>
                </tr>

            </table>
    </form>



    </div>



<table class="table table-hover">
            <thead>
            <tr>
                <th class="text-center" style="width: 80%">问题</th>
                <th class="text-center" style="width: 20%">发布者</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <form action="/questionadminedit/" method="POST">
                        <table align="left" >
                            {% csrf_token %}
                            <tr>

                                <input  type="hidden" name="questionid"  value="{{ question.id}}">
                                <th><input type="text" name="new_title"  id="question" value="{{question.title}}" size="20"></th>
                                <th><button type="submit" class="btn btn-xs btn-success"  onclick="return checkQuestion()">编辑(edit)</button><th>
                                <th><span id="nament" style="text-size:14pt;color:red;"></span></th>
                            </tr>
                        </table>
                    </form>

                </td>
                <td>{{ question.user.username}}</td>
            </tr>
            </tbody>
</table>



    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center" style="width: 80%">回答</th>
                <th class="text-center" style="width: 20%">发布者</th>
            </tr>
        </thead>

        <tbody>
        {% for answer in answerlist %}
        <tr>
            <td>{{ answer.content}}</td>
            <td>{{ answer.user}}</td>
            <td><a type="button" class="btn btn-xs btn-danger" href="/answeradmindel/?answerid={{ answer.id }}">删除</a></td>

        </tr>
        <tbody>
        {% endfor %}
    </table>
</div>

</body>
</html>


